.resume_button {
  margin: 0.5%;
  height: 75px;
  width: 150px;
  font-size: x-large;
  background-color: lightgreen;
  border-style:solid;
  border-radius: 10%;
  border-width: 3px;
  border-color: black;
}

.resume_button:hover {
  background-color: green;
  transform: scale(1.25);
}